@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,200;1,300;1,600&display=swap");

/*  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --borderLine-fill: orange;
  --emptyBorder: grey;
}


body{
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

h1{
    color: #212121;
    margin-bottom: 30px;
    font-weight: bold;
}

.progressContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 500px;
}

.progressContainer::before{
    background-color: var(--emptyBorder);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress{
    background-color: var(--borderLine-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    border: 3px solid #b2bec3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

.circle  img{
    height: 3.4rem;
    width: auto;
}